In [52]:
import googlemaps
import json
import pandas as pd

places = ["Fifth","Factory","Sound Control","Hidden","Solomon's",""
         "Manchester Academy", "Manchester Arena","Antwerp Mansion","Soup Kitchen",
          "256","42s","Footage","Pub Zoo","The Turing Tap","Ark Manchester",
         "Red Lion","The English Lounge","The Victoria Pub","Big Hands","The Temple",
         "Orion Inn","Apollo Theatre","Albert's Hall Manchester","The Pen and Pencil","Beer Studio",
         "Revolution Deansgate","Cloud 23","All Bar One","Lola Lo","Tiger Tiger","Joshua Brooks",
         "GAY","Friendship Inn","Font","Generous George","Saints and Scholars","The Thirsty Scholar",
         "The Great Central"]


gmaps = googlemaps.Client(key='AIzaSyDVXZt3yjPWGi-zVzSvV4IQBRu5PWC9dag')

location_df = pd.DataFrame(columns = ["NAME","LAT","LONG"]);

for place in places:
    name = place
    geocode = gmaps.geocode(place +", Manchester")
    lat = geocode[0]["geometry"]["location"]["lat"]
    lng = geocode[0]["geometry"]["location"]["lng"]
    temp_df = pd.DataFrame([[name,lat,lng]], columns = ["NAME","LAT","LONG"])
    location_df = location_df.append(temp_df)

    
location_df.to_json("./manchester-pubs-and-clubs.json",orient="records")
print(len(places))

38

In [55]:
df = pd.read_json("./manchester-pubs-and-clubs.json")
df.head()

         LAT      LONG           NAME
0  53.475091 -2.237586          Fifth
1  53.473997 -2.237335        Factory
2  53.473632 -2.240683  Sound Control
3  53.490122 -2.249208         Hidden
4  53.434401 -2.227777      Solomon's